.about {
  .container {
    background: linear-gradient(125deg, $theme-color-1, white);
    height: 500px;
  }
  .section-text {
    height: 430px;
    overflow: hidden;
    overflow-y: auto;
    color: black;
    width: 670px;
    padding: 20px;
    z-index: 1;
    width: clamp(275px, 75%, 775px);

    &::-webkit-scrollbar {
      width: 16px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #4d4d4d00;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: #555;
      border: 3px solid transparent;
      background-clip: padding-box;

      border-top-left-radius: 20px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 0px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $dark;
      border: 3px solid transparent;
      background-clip: padding-box;

      border-top-left-radius: 20px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 0px;
    }
  }
}
