.about {
  .about-section {
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: black;
    text-align: center;
    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 140%;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #ffffffbf;
      z-index: -1;
      position: absolute;
      backdrop-filter: blur(15px);
    }

    .section-text {
      width: 345px;
    }

    svg {
      position: absolute;
      width: 200px;
      height: 200px;
    }

    @include on-mobile() {
      &:nth-of-type(1),
      &:nth-of-type(3) {
        .section-text {
          width: 345px;
          align-self: flex-start;
          padding-top: 20px;
        }
      }

      &:nth-of-type(2) {
        .section-text {
          width: 345px;
        }
      }

      &:nth-of-type(4) {
        height: 600px;
        .section-text {
          width: 345px;
          align-self: flex-end;
        }
      }
    }

    &:nth-of-type(1) {
      background-image: url("../files/images/about-section/whoare.jpeg");

      &::after {
        background: linear-gradient(
          0deg,
          rgba($theme-color-1, 0.85) 25%,
          rgba(255, 255, 255, 0.5)
        );
      }

      svg {
        bottom: -10px;
        right: -10px;
      }
    }

    &:nth-of-type(2) {
      background-image: url("../files/images/about-section/vision.jpg");

      &::after {
        background: linear-gradient(
          90deg,
          rgba($theme-color-2, 0.85) 25%,
          rgba(255, 255, 255, 0.5)
        ) !important;
      }

      svg {
        top: -50px;
        right: -5px;
      }
    }

    &:nth-of-type(3) {
      background-image: url("../files/images/about-section/message.jpeg");

      &::after {
        background: linear-gradient(
          180deg,
          rgba($theme-color-3, 0.85) 25%,
          rgba(255, 255, 255, 0.5)
        ) !important;
      }

      svg {
        bottom: -10px;
        left: -30px;
      }
    }

    &:nth-of-type(4) {
      background-image: url("../files/images/about-section/chairman.jpeg");

      &::after {
        background: linear-gradient(
          270deg,
          rgba($theme-color-4, 0.85) 25%,
          rgba(255, 255, 255, 0.5)
        ) !important;
      }

      svg {
        top: -10px;
        left: -10px;
      }
    }
  }
}

.fade-up {
  svg {
    transition: all 7s ease;
    stroke-dasharray: 105;
    stroke-dashoffset: 105;
  }
}
// WE CAN APPLY STYLE AFTER THE SHOW_UP CLASS ADDED
.show-fade-up {
  svg {
    stroke-dashoffset: 0;
  }
}
