$colorOne: #f4cb2a;
$colorTwo: #1c477f;
$colorThree: #818588;
$colorFour: #d9b47e;
$shadow-blur: 5px;
$shadow-spread: 1px;
$shadow-x: 2px;
$shadow-y: 0px;
$angle: 1deg;

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

:root {
  --angle: 0deg;
}

// .center {
//   width: 300px;
//   height: 300px;
//   border: 1px solid;
//   background-image: linear-gradient(
//     var(--angle),
//     $colorOne 0%,
//     $colorTwo 50%,
//     $colorThree 75%,
//     $colorFour 100%
//   );
//   animation: rotate-gradient 5s linear infinite;
// }

@mixin animation($name,
  $delay: 0,
  $duration: 4,
  $count: infinite,
  $fillMode: forwards,
  $direction: normal) {
  will-change: clip-path;
  animation-name: #{$name};
  animation-delay: #{$delay}s;
  animation-timing-function: ease-in-out;
  animation-duration: #{$duration}s;
  animation-iteration-count: $count;
  animation-fill-mode: $fillMode;
  animation-direction: $direction;
}

@keyframes loader-colors {
  0% {
    clip-path: polygon(103.35% 18.38%,
        106.09% 16.88%,
        109.68% 15.95%,
        79.44% -7.48%,
        72.91% -4.26%);
  }

  10% {
    clip-path: polygon(52.04% 38.59%,
        55.46% 37.55%,
        109.68% 15.95%,
        79.44% -7.48%,
        49.95% 9.98%);
  }

  20% {
    clip-path: polygon(54.06% 62.93%,
        55.46% 41.22%,
        109.68% 15.95%,
        79.44% -7.48%,
        3.37% 42.59%);
  }

  30% {
    clip-path: polygon(43.26% 82.68%,
        73.01% 67.86%,
        109.68% 15.95%,
        79.44% -7.48%,
        -8.78% 52.24%);
  }

  40% {
    clip-path: polygon(73.64% 102.89%,
        139.84% 62.81%,
        109.68% 15.95%,
        79.44% -7.48%,
        -8.78% 52.24%);
  }

  50% {
    clip-path: polygon(-14.13% 111.16%,
        208.71% 110.12%,
        208.25% -12.53%,
        -7.65% -13.45%,
        -8.78% 52.24%);
  }

  80% {
    clip-path: polygon(-14.13% 111.16%,
        208.71% 110.12%,
        208.25% -12.53%,
        -7.65% -13.45%,
        -8.78% 52.24%);
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loader-text {
  0% {
    clip-path: polygon(-2.66% 0%, 0.47% 1%, 0.53% 101.39%, -3.79% 100%);
  }

  10% {
    clip-path: polygon(-2.66% 0%, 23.34% -1.78%, 23.4% 104.17%, -3.79% 100%);
  }

  20% {
    clip-path: polygon(-2.66% 0%, 50.46% -3.17%, 49.99% 104.17%, -3.79% 100%);
  }

  30% {
    clip-path: polygon(-2.66% 0%, 75.46% -4.56%, 74.99% 105.56%, -3.79% 100%);
  }

  40% {
    clip-path: polygon(-2.66% 0%, 106.31% -3.17%, 107.43% 106.95%, -3.79% 100%);
  }

  50% {
    clip-path: polygon(-61.16% -101.62%,
        108.44% -108.97%,
        107.43% 229.46%,
        -61.76% 225.29%);
  }

  80% {
    clip-path: polygon(-61.16% -101.62%,
        108.44% -108.97%,
        107.43% 229.46%,
        -61.76% 225.29%);
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

#loader-colors {
  @include animation(loader-colors, 0, 2, infinite);
}

#loader-text {
  @include animation(loader-text, 0, 2, infinite);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: inline-flex;
  flex-flow: row wrap;
  position: relative;

  .video-container {
    position: relative;
    width: 50%;
    height: 50%;
    overflow: hidden;
    cursor: pointer;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(black, 0.5);
      top: 0;
      left: 0;
      transition: background-color 0.3s ease;
    }

    &:hover {
      &::after {
        background-color: rgba(black, 0);
      }
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: box-shadow 0.3s ease;
      cursor: pointer;
    }

    &:nth-child(1) {
      video {
        border: 5px solid $colorOne;
      }
    }

    &:nth-child(2) {
      video {
        border: 5px solid $colorTwo;
      }
    }

    &:nth-child(3) {
      video {
        border: 5px solid $colorThree;
      }
    }

    &:nth-child(4) {
      video {
        border: 5px solid $colorFour;
      }
    }
  }

  .logo {
    position: fixed;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    width: clamp(130px, 25vw, 250px);
    height: clamp(100px, 20vw, 200px);

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 10px;
      transition: box-shadow 0.3s ease;
    }

    &.golden-shadow {
      &::after {
        box-shadow: 0 0 15px 5px #f4ca29;
      }
    }

    &.blue-shadow {
      &::after {
        box-shadow: 0 0 15px 5px #1c477f;
      }
    }

    &.gray-shadow {
      &::after {
        box-shadow: 0 0 15px 5px #818588;
      }
    }

    &.brown-shadow {
      &::after {
        box-shadow: 0 0 15px 5px #d9b47e;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .title {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-transform: uppercase;
      font-size: 18px;
      transition: transform 0.5s ease;
      transform: translateY(0px);

      &.hide-title {
        transform: translateY(-150px);
      }
    }

    .departments {
      text-transform: uppercase;
      position: absolute;
      top: 100%;
      left: 20%;

      div {
        transition: transform 0.5s ease;
        transform: translateY(0px);
        position: absolute;
        width: max-content;
      }

      .show-department-title {
        transform: translateY(-90px);
      }
    }
  }
}