.about {
  .about-section {
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: black;
    overflow: hidden;

    .section-text {
      width: 345px;
    }

    svg {
      position: absolute;
      width: 200px;
      height: 200px;
    }

    @include on-mobile() {
      &:nth-of-type(1),
      &:nth-of-type(3) {
        .section-text {
          width: 345px;
          align-self: flex-start;
          padding-top: 20px;
        }
      }

      &:nth-of-type(2) {
        .section-text {
          width: 345px;
        }
      }

      &:nth-of-type(4) {
        height: 600px;
        .section-text {
          width: 345px;
          align-self: flex-end;
        }
      }
    }

    &:nth-of-type(1) {
      svg {
        bottom: -10px;
        right: -10px;
      }
    }

    &:nth-of-type(2) {
      svg {
        top: -50px;
        right: -5px;
      }
    }

    &:nth-of-type(3) {
      svg {
        bottom: -10px;
        left: -30px;
      }
    }

    &:nth-of-type(4) {
      svg {
        top: -10px;
        left: -10px;
      }
    }
  }
  .container {
    background: linear-gradient(125deg, $theme-color-1, white);
  }
}

.vision {
  text-align: center;
  background: linear-gradient(235deg, $theme-color-2, white) !important;

  .section-text {
    display: grid;
    place-content: center;
    margin: 0px auto;
  }
}
