@import "partials/functions";
@import "partials/variables";
@import "partials/breakpoints";
@import "partials/colors";
@import "partials/utilities";
@import "partials/customClasses";
@import "partials/positions";

// COMPONENTS
@import "partials/components/buttons";
@import "partials/components/cards";
@import "partials/components/notifications";
@import "partials/components/navs";
@import "partials/components/spinners";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Barlow", "Cairo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  max-width: 100vw;
  min-height: 100vh;
}

// SPECIFIC FOR WEBSITE STYLE
@import "sscc";
