@import "partials/functions";
@import "partials/variables";
@import "partials/breakpoints";
@import "partials/colors";
@import "partials/utilities";
@import "partials/customClasses";
@import "partials/positions";

// COMPONENTS
@import "partials/components/buttons";
@import "partials/components/cards";
@import "partials/components/notifications";
@import "partials/components/navs";
@import "partials/components/spinners";
@import "partials/components/carousals";
@import "partials/components/lists";
@import "partials/components/sections";

@import "partials/animated-logo";

/* barlow-regular - latin_latin-ext_vietnamese */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../files/fonts/barlow-v13-latin_latin-ext_vietnamese-regular.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../files/fonts/barlow-v13-latin_latin-ext_vietnamese-regular.ttf")
      format("truetype");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* barlow-500 - latin_latin-ext_vietnamese */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "barlow";
  font-style: normal;
  font-weight: 500;
  src: url("../files/fonts/barlow-v13-latin_latin-ext_vietnamese-500.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../files/fonts/barlow-v13-latin_latin-ext_vietnamese-500.ttf")
      format("truetype");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* cairo-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "cairo";
  font-style: normal;
  font-weight: 400;
  src: url("../files/fonts/cairo-v31-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../files/fonts/cairo-v31-latin-regular.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* cairo-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "cairo";
  font-style: normal;
  font-weight: 600;
  src: url("../files/fonts/cairo-v31-latin-600.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../files/fonts/cairo-v31-latin-600.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "barlow", "cairo", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  min-height: 100vh;
}

h1 {
  @include on-lg-screen-and-lower() {
    font-size: 26px;
  }
}

// SPECIFIC FOR WEBSITE STYLE
@import "sscc";
