$carousal-controls-bg: rgba(255, 255, 255, 0.25);
$carousal-controls-active-bg: white;
$card-carousal-gap: 10px;

.carousal {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;

  .carousal-controls {
    position: absolute;
    width: 100%;
    background: linear-gradient(165deg, #f4ca2942 0%, #00000069 30%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 15px;
    z-index: 5;
    bottom: 0;

    .controls-wrapper {
      width: 100%;
      display: flex;
      align-content: center;
      justify-content: space-between;
      align-items: center;
    }

    .control-btn {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: $carousal-controls-bg;
      border: 0;
      border-radius: 50%;
      font-size: 18px;
      padding-bottom: 3px;
      color: #000000a6;

      &:hover {
        color: black;
        background-color: $carousal-controls-active-bg;
      }
    }

    .progress-container {
      background: transparent;
      flex: 1;
      padding: 0px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .progress-item {
        flex: 0;

        .progress-bar {
          background: $carousal-controls-bg;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          overflow: hidden;

          .progress-value {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .carousal-images {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .image {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      opacity: 0;
      transition: opacity 0.5s ease-out;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &[data-auto="true"] {
    .carousal-controls {
      .progress-item {
        &.active {
          flex: 1;

          .progress-bar {
            width: 100%;
            border-radius: 3px;
          }

          .progress-value {
            background: $carousal-controls-active-bg;
            animation: increase-progress 10s 1 linear forwards;
          }
        }
      }
    }

    .carousal-images {
      .image {
        transform: scale(1.2) rotate(2deg);

        &.active {
          opacity: 1;
          animation: carousal-image 10s 1 forwards normal;
        }
      }
    }
  }

  &[data-auto="false"] {
    .carousal-controls {
      .progress-item {
        &.active {
          flex: 0;

          .progress-value {
            background: $carousal-controls-active-bg;
          }
        }
      }
    }

    .carousal-images {
      .image {
        &.active {
          opacity: 1;
          animation: carousal-ige 10s 1 forwards normal;
        }
      }
    }
  }
}

@keyframes carousal-image {
  0% {
    transform: scale(1) rotate(0deg);
  }

  95% {
    transform: scale(1.2) rotate(2deg);
  }

  100% {
    transform: scale(1.2) rotate(2deg);
  }
}

@keyframes increase-progress {
  0% {
    transform-origin: left;
    transform: translateX(-101%);
  }

  95% {
    transform: translateX(0%);
    transform-origin: right;
  }

  100% {
    transform: translateX(100%);
    transform-origin: right;
  }
}

.card-carousal {
  height: 50%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;

  .card-carousal-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content;
    z-index: 10;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    button {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: $carousal-controls-bg;
      border: 0;
      border-radius: 50%;
      font-size: 18px;
      padding-bottom: 3px;
      color: #000000a6;

      &:hover {
        color: black;
        background-color: $carousal-controls-active-bg;
      }
    }

    .hide-control {
      display: none;
    }
  }

  .carousal-cards {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: auto;
    display: flex;
    gap: $card-carousal-gap;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    .carousal-card {
      scroll-snap-align: center;
      width: 100%;
      background: #ffd8d8;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 100px;
      flex: 0 0 100%;
    }
  }
}