$carousal-controls-bg: rgba(255, 255, 255, 0.25);
$carousal-controls-active-bg: white;
$card-carousal-gap: 10px;
$card-carousal-radius: 7px;

.carousal {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;

  .carousal-controls {
    position: absolute;
    width: 100%;
    background: linear-gradient(165deg, #f4ca2942 0%, #00000069 30%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 15px;
    z-index: 5;
    bottom: 0;

    .controls-wrapper {
      width: 100%;
      display: flex;
      align-content: center;
      justify-content: space-between;
      align-items: center;
    }

    .control-btn {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: $carousal-controls-bg;
      border: 0;
      border-radius: 50%;
      font-size: 18px;
      padding-bottom: 3px;
      color: #000000a6;

      &:hover {
        color: black;
        background-color: $carousal-controls-active-bg;
      }
    }

    .progress-container {
      background: transparent;
      flex: 1;
      padding: 0px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .progress-item {
        flex: 0;

        .progress-bar {
          background: $carousal-controls-bg;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          overflow: hidden;

          .progress-value {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .carousal-images {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .image {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      opacity: 0;
      transition: opacity 0.5s ease-out;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &[data-auto="true"] {
    .carousal-controls {
      .progress-item {
        &.active {
          flex: 1;

          .progress-bar {
            width: 100%;
            border-radius: 3px;
          }

          .progress-value {
            background: $carousal-controls-active-bg;
            animation: increase-progress 10s 1 linear forwards;
          }
        }
      }
    }

    .carousal-images {
      .image {
        transform: scale(1.2) rotate(2deg);

        &.active {
          opacity: 1;
          animation: carousal-image 10s 1 forwards normal;
        }
      }
    }
  }

  &[data-auto="false"] {
    .carousal-controls {
      .progress-item {
        &.active {
          flex: 0;

          .progress-value {
            background: $carousal-controls-active-bg;
          }
        }
      }
    }

    .carousal-images {
      .image {
        &.active {
          opacity: 1;
          animation: carousal-ige 10s 1 forwards normal;
        }
      }
    }
  }
}

@keyframes carousal-image {
  0% {
    transform: scale(1) rotate(0deg);
  }

  95% {
    transform: scale(1.2) rotate(2deg);
  }

  100% {
    transform: scale(1.2) rotate(2deg);
  }
}

@keyframes increase-progress {
  0% {
    transform-origin: left;
    transform: translateX(-101%);
  }

  95% {
    transform: translateX(0%);
    transform-origin: right;
  }

  100% {
    transform: translateX(100%);
    transform-origin: right;
  }
}

.card-carousal {
  height: 400px;
  overflow: hidden;
  border-radius: $card-carousal-radius;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $card-carousal-gap;
  padding: 10px;

  .card-carousal-control {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: $carousal-controls-bg;
    border: 0;
    border-radius: 50%;
    font-size: 18px;
    padding-bottom: 3px;
    color: #000000a6;
    visibility: visible;
    pointer-events: all;

    &:hover {
      color: black;
      background-color: $carousal-controls-active-bg;
    }

    &.hide-control {
      visibility: hidden;
      pointer-events: none;
    }
  }

  .carousal-cards {
    height: 100%;
    overflow-x: auto;
    display: flex;
    gap: $card-carousal-gap * 2;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    overflow-y: hidden;
    flex: 1;
    border-radius: $card-carousal-radius;

    &::-webkit-scrollbar {
      display: none;
    }

    .carousal-card {
      scroll-snap-align: center;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 100%;
      position: relative;
      border: 1px solid;
      border-radius: $card-carousal-radius;
      overflow: hidden;

      .card-image {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .card-title {
        position: absolute;
        background: #0000007d;
        font-size: 28px;
        color: white;
        padding: 28px;
        border-radius: 10px;
        backdrop-filter: blur(5px);
        text-transform: uppercase;
      }
    }
  }
}
