.carousal {
    position: fixed;
    top: 0;
    height: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .carousal-controls {
        position: absolute;
        width: 100%;
        background: linear-gradient(165deg, #f4ca2942 0%, #00000069 30%);
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 15px;
        z-index: 5;
        bottom: 0;

        .control-btn {
            padding: 15px;
            font-size: 20px;
            cursor: pointer;
        }

        .progress-container {
            background: transparent;
            height: 10px;
            flex: 1;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .progress-item {
                flex: 1;

                .progress-bar {
                    background: #ffffff8a;
                    width: 100%;
                    height: 10px;
                    border-radius: 3px;
                    overflow: hidden;

                    .progress-value {
                        width: 100%;
                        height: 100%;
                        background: #ffffff;
                        transform-origin: left;
                        transform: translateX(-100%);
                        animation: increase 6s infinite linear forwards;
                    }
                }
            }
        }
    }

    .carousal-images {
        display: flex;
        height: 100%;
        overflow-x: auto;
        overflow-y: hidden;


        &::-webkit-scrollbar {
            display: none;
        }


        .image {
            flex: 0 0 100%;

            img {
                width: 100vw;
                height: 100vh;
                object-fit: cover;

            }
        }
    }

}