@mixin spinner($bg-color: black) {
  width: $base-spinner-size;
  height: $base-spinner-size;
  border-radius: 50%;
  border-right: 3px solid $bg-color;
  border-bottom: 3px solid transparent;
  animation: rotation 0.7s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  @include spinner();
}

@each $key, $val in $colors {
  .spinner-#{$key} {
    @include spinner($val);
  }
}
