.stroke-effect {
    path {
        stroke-dasharray: 131%;
        stroke-dashoffset: 131%;
    }

    &.activate-effect {
        path {
            animation: stroke-effect 5s ease 1 normal forwards;
        }
    }
}

@keyframes stroke-effect {
    to {
        stroke-dashoffset: 0%;
    }
}