$primary: rgb(32, 111, 214);
$accent: rgb(255, 129, 255);
$success: rgb(56, 143, 56);
$danger: rgb(207, 68, 68);
$warning: rgb(255, 217, 0);
$dark: rgb(35, 35, 35);
$light: rgb(250, 250, 250);
$black: rgb(5, 5, 5);
$theme-color-1: #f4cb2a;
$theme-color-2: #1c477f;
$theme-color-3: #818588;
$theme-color-4: #d9b47e;

$colors: (
  "primary": $primary,
  "accent": $accent,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "dark": $dark,
  "light": $light,
  "transparent": rgba(0, 0, 0, 0),
  "black": $black,
  "theme-1": $theme-color-1,
  "theme-2": $theme-color-2,
  "theme-3": $theme-color-3,
  "theme-4": $theme-color-4,
);

$uMap: (
  "p": "padding",
  "pt": "padding-top",
  "pr": "padding-right",
  "pb": "padding-bottom",
  "pl": "padding-left",

  "m": "margin",
  "mt": "margin-top",
  "mr": "margin-right",
  "mb": "margin-bottom",
  "ml": "margin-left",
);

$utilitiesValues: (0, 1, 2, 3, 4, 5);

$base-padding: 10px;
$base-margin: 7px;
$base-radius: 7px;
$base-border: 1px;
$base-shadow: 0 0px 10px -5px $dark;
$base-mobile-width: 345px;
$base-nav-height: 70px;
$base-nav-shadow: 0 5px 10px -5px $dark;
$base-spinner-size: 25px;
$base-gap: 5px;
$base-notification-mobile-width: 100%;
$base-notification-large-width: 572px;
